 .loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }
.loading{
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
       display: flex;
       z-index: 99;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0, 0, 0.7);
}
    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 
 .main-color{
    background-color: #1E202B;
 }
 .secondary-color{
    background-color: #262936;
 }
  .light-main{
   background-color: #323544;
  }
 .blueColor{
   background-color:#009ad8;
 }
 .w-70{
    width: 70%;
 }
 .copy{
    color:
rgb(191, 193, 200);

 }
 .blue-text{
   color:
rgb(0, 154, 216);
 }
 /************** main***************** */
 
 .row>* {
   
    padding-right:0;
    padding-left:0;}
 main .title {
  font-size: 5.625rem;     
  line-height: 8.4375rem;  
}

 main{
    background-image: url(../images/imgi_7_banner.png);
    background-repeat: no-repeat;
    background-color: #1E202B;
 }
 main .header{
   background: rgba(0, 0, 0, 0.1);
 }
 /* contact */
 .layer-ifram{
   position:absolute;
   right: 0;
   left: 0;
   top:0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.7);
   width: 75%;
 }
 /* footer */
  
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  padding-top: 80px;  

}

main {
  flex: 1;
}

footer {
  margin-top: auto;
}
   button{
  right: 5px;
    top: 5px;
    bottom: 5px;
}
 .btn:hover {
    color: white;
    background-color:#009ad8;}
footer .icons a {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;      
  justify-content: center;   
  border-radius: 50%;
  background: #1e202b;
  color: #009ad8;
  transition: 0.3s ease;
  font-size: 1.2rem; /* size of icon */
  text-decoration: none;
}
footer .icons a:hover{
   background-color:  #009ad8;
   color:white;
}
 #contactSection p { 
  color: #888;   
  opacity: 1;  
}
#contactSection input::placeholder,
#contactSection textarea::placeholder {
  color: #888;
  opacity: 1;
}
